body {
    padding: 0;
    margin: 0;
    background-image: none;
    
}

label {
    display: block;
}
.box {
    border: 1px solid;
    margin: 5%;
    font-size: 25px;
    margin-bottom: 5%;
    padding: 5%;
    text-align: center;
    

}
 h2{
    padding: 10px;
    border: 1px solid;
    margin: 5%;
    text-align: center;
}
textarea {
  font-size: 22px;
    padding: 10px;
   
 width: 100%;
  resize: none;
  font-family: 'Fuzzy Bubbles', cursive;
  border-radius: 1.4em;
  
}
::placeholder {
    text-align: center;
    vertical-align: middle;
    line-height: 50%;
    
}
label {
    
    margin-bottom: 10px;
}
input {
    padding: 10px;
    max-width: 100%;
    font-size: 30px;
    text-align: center;
    border-radius: 1.4em;
  
}